In [13]:
import requests
from bs4 import BeautifulSoup as bs
from postgres import Connector
import psycopg2 as pg
from psycopg2.extras import execute_values
import pandas as pd

In [14]:
conn = pg.connect(
    host="localhost",
    password="Bastille2020",
    user="postgres",
    dbname="animate",
    port=5432,
)
cur = conn.cursor()

In [33]:
query = """CREATE TABLE IF NOT EXISTS top_anime (anime_id serial PRIMARY KEY, anime_name text);"""
cur.execute(query)
conn.commit

In [35]:
anime = []
for _ in range(1):
    anime.append(input("Enter favorite anime: "))

In [36]:
df = pd.DataFrame({"anime_name": anime})
df.head()

   anime_name
0  full metal

In [9]:
def scrape_data(URL):
    page = requests.get(URL)
    soup = bs(page.content, "html.parser")

    return soup

In [10]:
def parse_data(soup):
    anime_names = []

    top_ranks = soup.find("table", {"class": "top-ranking-table"})

    animes = top_ranks.findAll("tr", {"class": "ranking-list"})

    for anime in animes:
        title = anime.find("td", {"class": "title"})

        details = title.find("div", {"class": "detail"})

        anime_name = details.find("a").text
        anime_names.append(anime_name)

    return anime_names

In [11]:
URL = "https://myanimelist.net/topanime.php"
soup = scrape_data(URL)
anime_data = parse_data(soup)

df = pd.DataFrame({"anime_name": anime_data})

df.head()

                           anime_name
0                   Sousou no Frieren
1    Fullmetal Alchemist: Brotherhood
2                         Steins;Gate
3                            Gintama°
4  Shingeki no Kyojin Season 3 Part 2

In [53]:
create_table = (
    "CREATE TABLE IF NOT EXISTS animes (anime_id serial PRIMARY KEY, anime_name text); "
)
cur.execute(create_table)
conn.commit()

In [ ]:
for i, anime_name in anime_data:
    insert_query = f"INSERT INTO animes (anime_name) VALUES ('{anime_name}');"
    cur.execute(insert_query)
conn.commit()

In [16]:
values = [tuple([anime_name]) for anime_name in anime_data]
query = "INSERT INTO animes (anime_name) VALUES %s;"
execute_values(cur, query, values)
conn.commit()

In [2]:
insert_query = f"INSERT INTO animes (anime_name) VALUES ('{anime_name}')"

for anime_name in anime_data:
    try:
        cur.execute(insert_query, (anime_name,))

        conn.commit()
        print("data inserted")
    except Exception as e:
        print(f"error: {e}")

NameError: name 'anime_name' is not defined

In [14]:
conn.commit

In [30]:
text

NameError: name 'text' is not defined

In [ ]:
pd.read_html("https://myanimelist.net/topanime.php")[0]

In [31]:
results = soup.findAll("div", {"class", "hoverinfo_trigger fl-l ml12 mr8"})

In [32]:
cur.execute("INSERT INTO anime (anime_id, anime_name) VALUES(?, ?)", (anime, texts))
conn.commit

NameError: name 'anime' is not defined