In [1]:
import pandas as pd
import psycopg2 as pg
from psycopg2.extras import execute_values

In [2]:
conn = pg.connect(
    host="localhost",
    password="Bastille2020",
    user="postgres",
    dbname="animate",
    port=5432,
)


cur = conn.cursor()

In [ ]:
df = pd.DataFrame({"username": ["tiff"] * 50})
df.head()

In [3]:
usernames = []
for _ in range(5):
    usernames.append(input("Enter your username: "))

In [71]:
usernames

['bob', 'sally', 'eric', 'john', 'kelly']

In [4]:
df = pd.DataFrame({"username": usernames})
df.head()

  username
0
1    user1
2    user1
3
4

In [65]:
query = "CREATE TABLE IF NOT EXISTS users (user_id serial PRIMARY KEY, username text);"
cur.execute(query)
conn.commit()

In [ ]:
values = [tuple(x) for x in df.to_numpy()]
execute_values(cur, "INSERT INTO users (username) VALUES %s", values)

In [67]:
conn.commit()

In [68]:
query = "SELECT * FROM users;"
cur.execute(query)

In [69]:
df = pd.DataFrame(cur.fetchall())

In [ ]:
df